python=3.10
torch>2.0.0 find version that matches gpu. There code supports 50 series works wtih 50 series which is a good sign
Example: pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu129


#version 5 of transformers will break pickelcreate.py


pip install --upgrade transformers==4.57.0 accelerate datasets tokenizers safetensors
pip install huggingface-hub evaluate sentencepiece
pip install "diffusers>=0.20.0"
pip install einops
pip install scikit-learn
pip install openai-clip
pip install umap-learn
pip install hdbscan


python3 data_extraction.py --directory example-data/data/ --concept dog --num 100 --outdir example-data/selected_data/

python3 gen_poison.py --directory example-data/selected_data/ --target_name cat --outdir example-output/ --eps 0.04

python3 pickleconvert.py OUTPUTDIR/59.p test/


command to finetune
accelerate launch ./examples/text_to_image/train_text_to_image_lora.py \
  --pretrained_model_name_or_path="runwayml/stable-diffusion-v1-5" \
  --train_data_dir=/home/kevius/repos/Data/finetune_test \
  --caption_column="text" \
  --resolution=512 \
  --train_batch_size=1 \
  --num_train_epochs=100 \
  --output_dir="my-poisoned-lora" \
  --mixed_precision="bf16"